.navbar-dev.d-flex
  = link_to root_path, class: "navbar-dev-brand" do
    %h2 Febre de Dev
  .navbar-dev-right.d-flex
    = link_to "Posts", posts_path, class: "navbar-dev-item navbar-dev-link"
    = link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-dev-item navbar-dev-link"
    